.filter {
    color: white !important;
    background-color: darkgreen !important;
}

.filter:hover {
    color: white !important;
    background-color: rgb(2, 44, 2) !important;
}

.feedback {
    color: red;
}